name: 'Auto assign assignees or reviewers'
on:
    pull_request:
        types: [opened, ready_for_review]

jobs:
  add-reviews:
    name: "Auto assignment of a assignee"
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: ".github/assignee.config.yml"